{{define "edit"}}
{{template "header"}}


{{if .Error}}
	<p> {{.Error}} </p>
{{end}}
<form action="/contacts/{{.Contact.Id}}/edit" method="post">
	<fieldset>

	<legend>Contact Vals! </legend>
		<p>
			<label for="name">Name: </label>
			<input type="text" id="name" name="name" 
				{{if .Contact.Name }}
					value= {{.Contact.Name}}
				{{end}} />
		</p>

		<p>
			<label for="email">Email: </label>
			<input type="email" id="email" name="email" 
				{{if .Contact.Email}}
					value = {{.Contact.Email}}
				{{end}} />
		</p>
		<p>
			<label for="phone">Phone: </label>
			<input type="text" id="phone" name="phone" 
				{{if .Contact.Email}}
					value= {{.Contact.Email}}
				{{end}} />
		</p>
		<input type="submit" value="Edit contact!" />
	</fieldset>
</form>

<form action="/contacts/{{.Contact.Id}}/delete" method="POST">
	<input type="submit" value="Delete" />
</form>

<a href="/contacts">Back</a>

{{template "footer"}}
{{end}}
